<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD EMP</title>
</head>

<body>
    <!--hii-->
    <div class="container">
        <form action="/add" method="post">
            <label for="">EMPID</label>
            <input type="number" name="empid" id="">
            <label for="">name</label>
            <input name="name" type="text">
            <!-- <label for="">attendance</label>
            <input type="text" name="attendance" id=""> -->
            <label for="">dob</label>
            <input name="dob" type="date">
            <label for="">workType</label>
            <input type="text" name="workType" id="">
            <label for="">phoneNumber</label>
            <input type="text" name="phoneNumber" id="">
            <label for="">adharNumber</label>
            <input type="text" name="adharNumber" id="">
            <!-- <label  iugu for="">wages_per_Day</label>
            <input type="text" name="wages_per_Day" id=""> -->
            <!-- <label for="">inTime</label>
            <input type="text" name="inTime" id="">
             -->
             <label for="">Designation</label>
             <input type="text" name="designation" id="">
            <label for="">Address</label>
            <input type="text" name="address" id="">
            <label for="">email</label>
            <input type="email" name="email" id="">
            <label for="">attendance</label>
            <input type="text" name="attendance" id="">
            <label for="">Shift</label>
            <input type="text" name="shift" id="">
            <label for="">gender</label>
            <select name="gender" id="">
                <option value="male">male</option>
                <option value="female">female</option>
            </select>



            <button type="submit">SUBMIT</button>
        </form>
    </div>
</body>

</html>