*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.notifyContainer{
    position: fixed;
    right: 20px;
    top: 20px;
    width: 300px;
    min-height: 0px;
    max-height: 95vh;
    border-radius: 5px;   
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding: 10px; 
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all .5s;
    scroll-behavior: auto;
}

.options{
    width: 100%;
    display: flex;
    justify-content: center;
}

.clear {
    padding: 7px 14px;
    border-radius: 5px;
    border: none;
    background: #025e02;
    color: #ffffff;
    cursor: pointer;
    position: fixed;
    text-transform: capitalize;
}

.innerNotification {
    width: 98%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    margin: 30px 0px;
}

.notification{
    position: relative;
    left: 110%;
    opacity: 0;
    width: 100%;
    padding: 15px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #2d2d2d;
    border-radius: 5px;
    color: #46cc46;
    transition: all .2s;
}

.notification.active{
    left: 0%;
    opacity: 1;
    position: relative;
    cursor: pointer;
    animation: notify .5s ease-in forwards;
}


@keyframes notify {
    0%{
        left: 110%;
        opacity: 0;
    }25%{
        left: 0;
        opacity: 1;
    }50%{
        left: 5%;
        opacity: 1;
    }75%{
        left: -5%;
    }100%{
        left: 0%;
    }
}

.notification.active:hover{
    color: #000000;
    background-color: #258325;
}

.notifyTime{
    font-size: 10px;
}


.notifyTime.done, .done, .notifyMsg.done{
    position: relative;
    animation: notifydone .5s ease-in forwards;
}

@keyframes notifydone {
    0%{
        left: 0%;
        opacity: 1;
    }25%{
        left: 0;
        opacity: 1;
    }50%{
        left: 5%;
        opacity: 1;
    }75%{
        left: -5%;
        opacity: 1;
    }100%{
        left: 110%;
        opacity: 0;
    }
}

.addnotification{
    padding: 10px 30px;
    border-radius: 4px;
    background: #000000;
    color: #c6f3c6;
    margin: 100px;
    cursor: pointer;
}