<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance</title>
</head>
<body>
    <form action="/attendance" method="POST">
        <label for="">emp_id</label>
        <input type="number" name="empid" id="">
        <label for="">wages_per_Day</label>
        <input type="text" name="wages">
        <label for="">inTime</label>
        <input type="time" name="inTime" id="">
        <label for="">outTime</label>
        <input type="time" name="outTime" id="">
        <label for="">overTime</label>
        <input type="time" name="overTime" id="">
        <label for="">shift</label>
        <input type="text" name="shift" id="">
        <label for="">attendance</label>
        <input type="text" name="attendance" id="">
        <button type="submit">Attendance</button>
    </form>
</body>
</html>