<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KKL - Project</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/attendance.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <script src="https://cdn.socket.io/4.7.2/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.2/html2canvas.min.js"></script>
</head>
<body>
    <script>
        const socket = io();
    </script>
    <nav class="nav-bar">
        <div class="toogle-sidebar">
            <i class="fas fa-bars"></i>
        </div>
        <ul class="options">
            <li class="option notification-menu">
                <span class="notification-icon">
                    <i class="fas fa-bell"></i>
                     Notifications
                </span>
                <ul class="notification-list">
                    <li class="notifications">
                        <span class="user-name">Employee 1</span>
                        <div class="message-subject">leave Notification</div>
                    </li>
                    <li class="notifications">
                        <span class="user-name">Employee 1</span>
                        <div class="message-subject">leave Notification</div>
                    </li>
                    <li class="notifications">
                        <span class="user-name">Employee 1</span>
                        <div class="message-subject">leave Notification</div>
                    </li>
                    <li class="notifications">
                        <span class="user-name">Employee 1</span>
                        <div class="message-subject">leave Notification</div>
                    </li>
                    <li class="notifications">
                        <span class="user-name">Employee 1</span>
                        <div class="message-subject">leave Notification</div>
                    </li>
                </ul>
            </li>
            <li class="option logout">
                <span>
                    <i class="fas fa-sign-out-alt"></i>
                    Logout
                </span>
            </li>
        </ul>
    </nav>
    <aside class="sidebar">
        <ul class="side-menu">
            <form class="menu-option active">
              <span class="icon">
                <i class="far fa-calendar-check"></i>
              </span>
              <a class="menu-name" href="/attendance_table">Attendance</a>
            </form>
            <form action="/late_table" class="menu-option">
              <span class="icon">
                <i class="far fa-clock"></i>
              </span>
              <a href="/late_table" class="menu-name">Late table</a>
            </form>
            <form action="/leave_table" class="menu-option">
              <span class="icon">
                <i class="fas fa-calendar-plus"></i>
              </span>
              <a href="/leave_table" class="menu-name">Leave table</a>
            </form>
            
            <form action="" class="menu-option" style="display: none;">
                <span class="icon">
                    <i class="fas fa-clock"></i>
                  </span>
                  <p class="menu-name">Shift List</p>    
            </form>
          </ul>
    </aside>

    <main class="main active">
        <header class="details-bar">
            <div class="user-details">
                <h1 class="user-role">User ~ <span class="role tag">HR</span></h1>
            </div>
            <div class="date-time-details">
                <p class="date"></p>
                <p class="time"></p>
            </div>
        </header>
        
        <menu class="table-menu" style="display: flex;">
            <ul class="btn-container">
                <a href="/today_attendance" class="tag-btn click active">Today Attendance</a>
                <a href="/yesterday_attendance" class="tag-btn click">Yesterday Attendance</a>
                <a href="/month_attendance" class="tag-btn click">This Month Attendance</a>
                <a href="/last_month_attendance" class="tag-btn click">Last Month Attendance</a>
                <select name="shift" id="shift" class="tag-btn">
                    <option value="">Select Shift Name</option>
                    <option value="">ALL ~ Shift</option>
                    <option value="A">A ~ Shift</option>
                    <option value="B">B ~ Shift</option>
                    <option value="C">C ~ Shift</option>
                </select>
            </ul>
        </menu>

        <link rel="stylesheet" href="static/css/late.css">

        <section class="leave-table-section">
            <header class="leave-header">
                <div class="frame-header">
                    <div class="frame-details">
                        <p class="shift name"><span class="tag">A</span> ~ shift</p>
                        <p class="frame-name">leave Table</p>
                    </div>
                    <div class="frame-options">
                        <select name="shift" id="shift" class="tag-btn">
                            <option value="">select Shift</option>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                        </select>
                    </div>
                </div>
            </header>
            <div class="table">
                <table>
                    <thead>
                        <th>EmpId</th>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>From Date</th>
                        <th>To Date</th>
                        <th>Subject</th>
                        <th>Message</th>
                        <th>Action</th>
                    </thead>
                    <tbody class="leave-table" id="leave-table">
                        {% for leave_permission in leave_permission %}
                            <tr>
                                <td>#{{leave_permission.emp_id}}</td>
                                <td>{{leave_permission.emp_name}}</td>
                                <td>11/08/2003</td>
                                <td>11:55 PM</td>
                                <td>{{leave_permission.from_date}}</td>
                                <td>{{leave_permission.to_date}}</td>
                                <td>{{leave_permission.reason}}</td>
                                <td>
                                    {{leave_permission.reason}}
                                </td>
                                <td>
                                    <i class="fas fa-eye"></i>
                                </td>
                            </tr>
                        {% endfor %}
                        <script>
                            socket.on('leave', function (leave_permission) {
                                var tbody = document.getElementById('leave-table');
                                tbody.innerHTML += `
                                    <tr>
                                    <td>${leave_permission.emp_id}</td>
                                    <td>${leave_permission.emp_name}</td>
                                    <td>11:35</td>
                                    <td>11:35</td>
                                    <td>${leave_permission.from_date}</td>
                                    <td>${leave_permission.to_date}</td>
                                    <td>${leave_permission.reason}</td>
                                    <td>${leave_permission.reason}</td>
                                    <td><i class="fas fa-eye"></i></td>
                                    </tr>
                                `;
                            });
                        </script>
                        <tr>
                            <td>#0001</td>
                            <td>John Doe</td>
                            <td>11/08/2003</td>
                            <td>11:55 PM</td>
                            <td>12/12/2024</td>
                            <td>12/12/2024</td>
                            <td>Traffic</td>
                            <td>
                                I have stuck in heavy traffic and unable the reach the office on time,
                                So kindly approve my leave request and allow me to continue my work 
                            </td>
                            <td>
                                <i class="fas fa-eye"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>#0002</td>
                            <td>Doe</td>
                            <td>11/08/2003</td>
                            <td>11:55 PM</td>
                            <td>12/12/2024</td>
                            <td>12/12/2024</td>
                            <td>Break down</td>
                            <td>
                                My bike was breakdown and unable the reach the office on time,
                                So kindly approve my leave request and allow me to continue my work 
                            </td>
                            <td>
                                <i class="fas fa-eye"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </section>

    </main>
    <script src="static/js/script.js"></script>
</body>
</html>