<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KKL - Project</title>
    <link rel="stylesheet" href="static/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.2/html2canvas.min.js"></script>
  </head>
  <body>
    <nav class="nav-bar">
      <div class="toogle-sidebar">
        <i class="fas fa-bars"></i>
      </div>
      <ul class="options">
        <div class="add-notification" style="display: none;">
            <button class="add">add</button>
        </div>
        <li class="option">
            <div class="notification-btn">
              <span class>
                <i class="fas fa-bell"></i>
                <span class="icon-text">
                    notification
                </span>
            </span>
            <div class="notify-count">
                <p class="count">0</p>
            </div>
            </div>
            
            <ul class="notifications">
                {% if notification %}
                {% for single_notification in notification %}
                <li class="notification-box">
                    <div class="profile">
                        <img src="icon/default-girl.jpeg" alt="default user">
                    </div>
                    <div class="notification-details">
                        <div class="notification-user-name">
                            {{single_notification.permission}}-{{single_notification.emp_name}}
                        </div>
                        <div class="notification-message">
                            {{single_notification.reason}}
                        </div>
                    </div>
                </li>
                {% endfor %}
                {% else %}
                <li class="notification-box">
                  <div class="notification-message">
                      No notification Available
                  </div>
                </li>
                {% endif %}
            </ul>
        </li>
        <a href="/logout" class="option logout">
            <span>
                <i class="fas fa-sign-out-alt"></i>
                <span class="icon-text">
                    Logout
                </span>
            </span>
        </a>
    </ul>
    </nav>
    <aside class="sidebar">
      <ul class="side-menu">
        <form class="menu-option active">
          <span class="icon">
            <i class="far fa-calendar-check"></i>
          </span>
          <a class="menu-name" href="/attendance_table">Attendance</a>
        </form>
        <form action="/late_table" class="menu-option">
          <span class="icon">
            <i class="far fa-clock"></i>
          </span>
          <a href="/late_table" class="menu-name">Late table</a>
        </form>
        <form action="/leave_table" class="menu-option">
          <span class="icon">
            <i class="fas fa-calendar-plus"></i>
          </span>
          <a href="/leave_table" class="menu-name">Leave table</a>
        </form>
        
        <form action="" class="menu-option" style="display: none;">
            <span class="icon">
                <i class="fas fa-clock"></i>
              </span>
              <p class="menu-name">Shift List</p>    
        </form>
      </ul>
    </aside>

    <main class="main active">
      <header class="details-bar">
        <div class="user-details">
          <h1 class="user-role">User ~ <span class="role tag">HR</span></h1>
        </div>
        <div class="date-time-details">
          <p class="date"></p>
          <p class="time"></p>
        </div>
      </header>

      <menu class="table-menu" style="display: flex">
        <div class="btn-container">
          <a href="/today_attendance" class="tag-btn click active">Today Attendance</a>
          <a href="/yesterday_attendance" class="tag-btn click">Yesterday Attendance</a>
          <a href="/month_attendance" class="tag-btn click">This Month Attendance</a>
          <a href="/last_month_attendance" class="tag-btn click">Last Month Attendance</a>
          <select name="shift" id="shift" class="tag-btn">
            <option value="">Select Shift Name</option>
            <option value="">ALL ~ Shift</option>
            <option value="A">A ~ Shift</option>
            <option value="B">B ~ Shift</option>
            <option value="C">C ~ Shift</option>
          </select>
        </div>
      </menu>

      <link rel="stylesheet" href="static/css/attendance.css" />
      <!-- <iframe src="" frameborder="0" class="frame"></iframe> -->

      <section class="frame month-attendance" style="display: flex;">
        <div class="inner-frame">
            <div class="frame-header">
                <div class="frame-details">
                    <p class="frame-name">Attendance</p>
                    <p class="shift name"><span class="tag">A</span> ~ shift</p>
                </div>
                <div class="frame-search">
                    <input type="text" name="idsearch" id="idsearch" placeholder="Search By ID">
                    <input type="text" name="namesearch" id="namesearch" placeholder="Search By Name">
                </div>
                <div class="frame-options">
                    <button type="button" class="download">
                        <i class="fas fa-file-excel"></i>
                    </button>
                </div>
            </div>
            <div class="frame-body">
                <table class="attendance-table">
                    <thead>
                        <tr class="thead">
                            <th>EmpId</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody class="tableBody filter">
                        
                    </tbody>
                </table>
            </div>
        </div>
    </section>

      <script src="static/js/month_attendance.js"></script>
    </main>
    <script src="static/js/script.js"></script>
    <script>
      const bell_btn = document.querySelector(".notification-btn");
      const notifications = document.querySelector(".notifications");
      const add = document.querySelector(".add");
      let count = notifications.childElementCount;
      
      if (count > 9) {
          count = "9+";
      }
      
      document.querySelector(".count").innerHTML = count;
      
      document.addEventListener('click', function (event) {
          const isNotificationButton = event.target.closest('.notification-btn');
          const isNotificationContainer = event.target.closest('.notifications');
      
          if (!(isNotificationButton || isNotificationContainer)) {
              notifications.classList.remove("active");
              console.log("Removed active class");
          }
      });
      
      bell_btn.addEventListener("click", () => {
          notifications.classList.toggle("active");
          console.log("Toggled active class");
      });
      
            const socket = io();
            socket.on("late", function (late_permission) {
                console.log("Received late_permission:",late_permission.emp_id);
                const notifications = document.querySelector(".notifications");
                
                if(document.querySelector(".notification-box")){
                      const default_notification=document.querySelector(".notification-box");
                      default_notification.style.display = "none";
                      default_notification.disabled = true;
                    }
                        notifications.innerHTML += `
                        <li class="notification-box">
                            <div class="profile">
                                <img src="icon/default.jpeg" alt="default user">
                            </div>
                            <div class="notification-details">
                                <div class="notification-user-name">
                                    ${late_permission.emp_name}
                                </div>
                                <div class="notification-message">
                                    Late - ${late_permission.reason}
                                </div>
                            </div>
                        </li>
                                      `;
                        let count = notifications.childElementCount;
                        if (count > 10) {
                            count = "9+";
                        }
      
                        document.querySelector(".count").innerHTML = count-1;
                      });
      
                socket.on("leave", function (leave_permission) {
                    console.log("Received leave_permission:",leave_permission.emp_id);
                    const notifications = document.querySelector(".notifications");
      
                    if(document.querySelector(".notification-box")){
                      const default_notification=document.querySelector(".notification-box");
                      default_notification.style.display = "none";
                      default_notification.disabled = true;
                    }
      
                        notifications.innerHTML += `
                        <li class="notification-box">
                            <div class="profile">
                                <img src="icon/default.jpeg" alt="default user">
                            </div>
                            <div class="notification-details">
                                <div class="notification-user-name">
                                    ${leave_permission.emp_name}
                                </div>
                                <div class="notification-message">
                                    Leave - ${leave_permission.reason}
                                </div>
                            </div>
                        </li>
                                      `;
                        let count = notifications.childElementCount;
                        if (count > 10) {
                            count = "9+";
                        }
      
                        document.querySelector(".count").innerHTML = count-1;
                      });
          </script>
  </body>
</html>
